<div class="container" style="overflow-x:scroll !important">
    <div class="m-5"></div>

    <app-notifications></app-notifications>

    <div class="m-5"></div>
    <!--TODO: Have a notification service display all notifications for CRUD operations-->
    <div>
        <a class="btn btn-primary" (click)="handleCreateTestEmployee()">Create test employee</a>
        <a class="btn btn-success" routerLink="new" style="margin-left: 10px;">Create employee</a>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Salary</th>
            <th scope="col">Department</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Hired</th>
            <th scope="col">Terminated</th>
            <th scope="col">Status</th>
            <th scope="col">Info</th>
            <th scope="col">Terminate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empl of this.employees">
            <td>
              <div class="d-flex">
                <a [routerLink]="'/'+empl._id+'/edit'">
                  <img src="../../assets/img/edit.png" width="30">
                </a>
                <a [routerLink]="'/'+empl._id+ '/delete'">
                  <img src="../../assets/img/delete.png" width="30">
                </a>
              </div>
            </td>
            <th scope="row">{{empl._id}}</th>
            <td>{{empl.name}}</td>
            <td>{{empl.email}}</td>
            <td>{{empl.salary}}</td>
            <td>{{empl.department}}</td>
            <td>{{dateFormatter.getFormat(empl.dateOfBirth)}}</td>
            <td>{{dateFormatter.getFormat(empl.hiringDate)}}</td>
            <td>{{dateFormatter.getFormat(empl.terminationDate)}}</td>
            <td><span class="badge" [ngClass]="{'bg-success': empl.status == 'Active', 'bg-warning' : empl.status == 'On Leave', 'bg-danger' : empl.status == 'Terminated'}">{{empl.status}}</span></td>
            <td>{{empl.info}}</td>
            <td *ngIf="empl.status != 'Terminated'; else elseTerminated">
              <app-terminate-form [employeeId]="empl._id" (refreshEmployeeList)="refreshList()"></app-terminate-form>
            </td>
            <ng-template #elseTerminated><td>-</td></ng-template>
          </tr>
        </tbody>
      </table>
</div>
