<form class="d-flex flex-column" (submit)="onSubmit()">
    <label for="nameInput">Name</label>
    <input id="nameInput" type="text" name="name" placeholder="Name" [(ngModel)]="employeeModel.name">
    
    <label for="emailInput">Email</label>
    <input id="emailInput" type="text" name="email" placeholder="Email" [(ngModel)]="employeeModel.email">
    
    <label for="salaryInput">Salary</label>
    <input id="salaryInput" type="number" name="salary" placeholder="Salary" [(ngModel)]="employeeModel.salary" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
    
    <label for="departmentInput">Department</label>
    <input id="departmentInput" type="text" name="department" placeholder="Department" [(ngModel)]="employeeModel.department">
    
    <label for="dobInput">Date of birth</label>
    <input id="dobInput" type="date" name="dateOfBirth" placeholder="Date of birth" (ngModelChange)="employeeModel.dateOfBirth = $event" [ngModel]="employeeModel.dateOfBirth | date: 'yyyy-MM-dd'">
    
    <label for="hiringDateInput">Hiring Date</label>
    <input id="hiringDateInput" type="date" name="hiringDate" placeholder="Hiring date" (ngModelChange)="employeeModel.hiringDate = $event" [ngModel]="employeeModel.hiringDate| date: 'yyyy-MM-dd'">
    
    <label for="statusInput">Status</label>
    <select id="statusInput" name="status" [(ngModel)]="employeeModel.status">
        <option *ngFor="let s of this.statuses" [selected]="employeeModel.status == s"  [ngValue]="s">{{s}}</option>
    </select>

    <label for="infoInput">Info</label>
    <input id="infoInput" type="text" name="info" placeholder="Info">
    
    <div class="m-2"></div>

    <input type="submit" class="btn btn-primary">
</form>